// font
$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;

// size
$m-padding: 18px;
$place-tab-height: 46px;
$place-header-height: 48px;
$header-height : $place-tab-height + $place-header-height;
$order-box-area-height : 70px;
